streamlit>=1.35.0
pandas>=2.0.0
numpy>=1.26.0
matplotlib>=3.8.0
plotly>=5.20.0
xgboost>=2.0.0
shap>=0.45.0
scikit-learn>=1.4.0
imbalanced-learn>=0.12.0
evidently>=0.7.0
torch>=2.2.0
prophet>=1.1.5
optuna>=3.6.0
